@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 768px;
    padding: 0 16px;
  }

  .head-style {
    max-width: 768px;
  }

  .logo {
    margin-right: 120px;
  }

  .head-list {
    display: flex;
  }

  .head-address {
    display: flex;
    flex-direction: column;
  }

  .head-address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .menu-button {
    display: none;
  }

  .main-style {
    width: 768px;
  }

  .hero {
    width: 768px;
    padding: 112px 136px;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_tab.jpg);
  }

  .benefits-list {
    column-gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-list-header {
    text-align: left;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px;
    column-gap: 24px;
  }

  .portfolio-img > img {
    max-height: 100%;
  }

  .contacts {
    width: 768px;
  }

  .footer-flex {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
    padding-left: 108px;
    justify-content: left;
  }

  .footer-contacts {
    align-items: normal;
  }

  .subscribe-container {
    align-items: normal;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_tab@2x.jpg);
  }
}


@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    max-width: 1158px;
  }

  .head-style {
    max-width: 1440px;
  }

  .head-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .logo {
    margin-right: 76px;
  }

  .head-address {
    flex-direction: row;
    gap: 40px;
  }

  .main-style {
    width: 1440px;
  }

  .hero {
    width: 100%;
    padding: 188px 0;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_desk.jpg);
  }

  .benefits {
    padding: 120px 0;
  }

  .benefits-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .benefits-list-logo-container {
    display: flex;
  }

  .benefits-list-item {
    width: calc((100% - 48px) / 3);
  }

  .benefits-list-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .benefits-list-text {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
    max-width: 1440px;
  }

  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .contacts {
    width: 1440px;
  }

  .footer-contacts {
    margin-right: 120px;
  }

  .footer-flex {
    padding-left: 15px;
    gap: 0;
  }

  .footer-social-container {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_desk@2x.jpg);
  }
}