:root {
  --text: #434455;
  --white-background: #ffffff;
  --dark: #2e2f42;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --subtle-text: #8e8f99;
  --success: #31d0aa;
  --modal-background: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.body-style {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background: var(--white-background);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.head-style {
  width: 1440px;
  border-bottom: 1px solid var(--accent);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.head-all {
  display: flex;
  justify-content: space-between;
}

.head-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-right {
  color: var(--dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-right:hover,
.logo:focus .logo-right {
  color: var(--pressed-state);
}

.head-list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.head-list-item-now {
  display: flex;
  flex-direction: column;
}

.head-list-link-now::after {
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--pressed-state);
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
}

.head-list-link {
  text-decoration: none;
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-list-link-now {
  color: var(--pressed-state);
  position: relative;
}

.head-list-link:focus,
.head-list-link:hover {
  color: var(--pressed-state);
}

.mail-tel {
  display: inline-block;
  font-style: normal;
  /* padding: 24px 0; */
}

.head-address {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.head-address-item {
  padding: 24px 0;
}

.head-address-link {
  color: var(--text);
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-address-link:focus,
.head-address-link:hover {
  color: var(--pressed-state);
}

.hero {
  max-width: 1440px;
  background: var(--dark);
  padding-left: 472px;
  padding-right: 472px;
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  flex-direction: column;
  padding: 188px 0;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

.hero-title {
  color: var(--white-background);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--primary-brand);
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding: 120px 0;
  max-width: 1440px;
  margin: auto;
}

.benefits-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.benefits-list-logo-container {
  border-radius: 4px;
  border: 1px solid var(--subtle-text);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--light);
}

.benefits-list-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.benefits-list-item {
  width: calc((100% - 48px) / 3);
}

.benefits-list-header {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-list-text {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background: var(--light);
  padding: 120px 0;
  max-width: 1440px;
  margin: auto;
}

.team-header {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  background: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-header {
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-text {
  color: var(--text);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list-social-item {
  width: 40px;
  height: 40px;
}

.team-list-social-link {
  width: 100%;
  height: 100%;
  background: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-list-social-link:hover,
.team-list-social-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  fill: var(--light);
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1440px;
  margin: auto;
}

.portfolio-header {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  border: 1px solid var(--accent);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-info {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.portfolio-list-header {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-text {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-img {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  padding: 40px 32px;
  background-color: var(--primary-brand);
  color: var(--light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.contacts {
  background: var(--dark);
  padding: 100px 0;
  width: 1440px;
  margin: auto;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 120px;
}

.logo-down {
  display: inline-block;
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}

.logo-down-right {
  color: var(--light);
}

.contacts-text {
  color: var(--light);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.contacts-header {
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-container {
  margin-right: 80px;
}

.footer-social {
  display: flex;
  gap: 16px;
}

.social-bg {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .team-list-social-link:hover,
.footer-social .team-list-social-link:focus {
  background-color: var(--success);
}

.subscribe-container {
}

.subscribe-header {
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.subscribe-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-input {
  width: 264px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--white-background);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--white-background);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  background-color: transparent;
  height: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input::placeholder {
  color: var(--white-background);
}

.subscribe-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--primary-brand);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-background);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state);
}

.subscribe-button-logo {
  fill: var(--white-background);
  margin-left: 16px;
}

.backdrop {
  width: 100%;
  position: fixed;
  inset: 0;
  display: flex;
  background-color: rgba(46, 47, 66, 0.4);
  display: none;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal-background);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  min-height: 584px;
  margin-bottom: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  width: 24px;
  height: 24px;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--dark);
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.modal-close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--pressed-state);
  fill: white;
  border: none;
}

.modal-header {
  color: var(--dark);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: var(--subtle-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  fill: var(--dark);
}

.modal-form-input {
  position: relative;
}

.modal-input-container {
  position: relative;
}

.modal-input-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  color: var(--dark);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 12px 16px 12px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 40px;
  outline: transparent;
}

.modal-input:focus-within {
  border: 1px solid var(--primary-brand);
  outline: none;
}

.modal-input:focus-within + .modal-input-logo {
  fill: var(--primary-brand);
}

.comment-container {
  margin-bottom: 16px;
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.privacy-container {
  margin-bottom: 24px;
}

.modal-privacy {
  color: var(--subtle-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  position: relative;
  align-items: center;
  height: 16px;
  cursor: pointer;
}

.modal-privacy-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-privacy-check-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.privacy-input:checked + .modal-privacy .modal-privacy-check {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.privacy-link {
  color: var(--primary-brand);
}

.is-open {
  display: flex;
}
